
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 120px;
    flex-direction: column;
    color: #666;
}

.navbar > div {
    margin: 10px 0;
}

.navbar .nav-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    width: 180px;
}

.navbar .nav-top ul li{
    display: flex;
}

.navbar .nav-top ul li img{
    margin: 0 20px;
}
.navbar .nav-top ul li span div:nth-child(1){
    font-weight: 600;
    color: #666;
}

.navbar .info-in-nav{
    margin: 0 50px;
}


.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar .divider{
    width: 100%;
    height: 2px;
    background: #f0f0f0;
}

.navbar .nav-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-bottom ul li{
    font-weight: 600;
    margin: 0 20px;

}
.navbar .nav-bottom .social-links{
    color: #333;
    font-size: 20px;
}