.slider{
    width: 100%;
    min-height: 100vh;

}

.slider img.background{
    width: 100%;
}

.slider .cards{
    display: flex;
    transform: translateY(-5px);
}
.slider .cards > div{
    width: 25%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    color: #fff;
}
.slider .cards > div h3{
    margin: 10px 0;
    font-size: 26px;
}

.slider .cards > div:nth-child(1){background: #44b1d2;}
.slider .cards > div:nth-child(2){background: #3eb6c6;}
.slider .cards > div:nth-child(3){background: #3dbabc;}
.slider .cards > div:nth-child(4){background: #37c3a8;}